.tiptap {
  min-height: 200px;
  --tasklist-checkbox: rebeccapurple;
}

.tiptap:focus {
  outline: none;
}

.tiptap h1 {
  padding-top: 1em;
  padding-bottom: 1em;
}
.tiptap h2 {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.tiptap h3 {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}
.tiptap h4 {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.tiptap h5 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.tiptap h6 {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.tiptap p {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.tiptap h1 {
  font-size: var(--font-text-tiptap-h1);
}

.tiptap h2 {
  font-size: var(--font-text-tiptap-h2);
}

.tiptap h3 {
  font-size: var(--font-text-tiptap-h3);
}

.tiptap h4 {
  font-size: var(--font-text-tiptap-h4);
}
.tiptap h5 {
  font-size: var(--font-text-tiptap-h5);
}
.tiptap h6 {
  font-size: var(--font-text-tiptap-h6);
}
.tiptap p {
  font-size: var(--font-text-tiptap-p);
}

.tiptap ul[data-type='taskList'] {
  list-style: none;
  margin-left: 0;
  padding: 0;
}
.tiptap ul[data-type='taskList'] input[type='checkbox'] {
  cursor: pointer;
}

.tiptap ul[data-type='taskList'] li {
  /* align-items: center; */
  display: flex;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.tiptap ul[data-type='taskList'] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  user-select: none;
}

.tiptap ul[data-type='taskList'] li > div {
  flex: 1 1 auto;
}

input[type='checkbox'] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin-top: 0.5em;
  font: inherit;
  color: currentColor;
  width: 0.9em;
  height: 0.9em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.tiptap ul[data-type='taskList'] input[type='checkbox']::before {
  content: '';
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.1em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--tasklist-checkbox);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.tiptap ul[data-type='taskList'] input[type='checkbox']:checked::before {
  transform: scale(1);
}
.tiptap ul {
  padding-inline-start: 20px;
}

.tiptap ul li {
  padding-inline-start: 8px;
}

.tiptap ul li::marker {
  content: '●'; /* Level 1 */
}

.tiptap ul ul li::marker {
  content: '○'; /* Level 2 */
}

.tiptap ul ul ul li::marker {
  content: '■'; /* Level 3 */
}

.tiptap ul ul ul ul li::marker {
  content: '+'; /* Level 4 */
}

.tiptap ul ul ul ul ul li::marker {
  content: '-'; /* Level 4 */
}

.tiptap ol {
  counter-reset: item;
  list-style: none; /* remove default numbers */
  padding-inline-start: 20px;
}

/* Each list item increases counter */
.tiptap ol > li {
  counter-increment: item;
}

/* Show parent counter + current number */
.tiptap ol > li::marker {
  content: counters(item, '.') '. ';
  /* "1. ", "1.1. ", "1.1.1. " */
}

.tiptap p.is-empty::before {
  color: var(--placeholder);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* Bubble menu */
.bubble-menu {
  background-color: var(--white);
  border: 1px solid var(--gray-1);
  border-radius: 0.7rem;
  box-shadow: var(--shadow);
  display: flex;
  padding: 0.2rem;
}

.bubble-menu button {
  background-color: unset;
}

.bubble-menu button:hover {
  background-color: var(--gray-3);
}

.bubble-menu button.is-active {
  background-color: var(--purple);
}

.bubble-menu button.is-active:hover {
  background-color: var(--purple-contrast);
}

@media (width >= 40rem) {
  .tiptap {
    font-size: var(--font-size-tiptap-sm);
  }
}
@media (width >= 48rem) {
  .tiptap {
    font-size: var(--font-size-tiptap-md);
  }
}

@media (width >= 64rem) {
  .tiptap {
    font-size: var(--font-size-tiptap-lg);
  }
}

@media (width >= 80rem) {
  .tiptap {
    font-size: var(--font-size-tiptap-xl);
  }
}

@media (width >= 96rem) {
  .tiptap {
    font-size: var(--font-size-tiptap-2xl);
  }
}
