.fc .fc-button-primary:focus {
  outline: none;
  box-shadow: none;
}

.fc .fc-button:focus {
  outline: none;
  box-shadow: none;
}

.fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.fc .fc-button-primary:not(:disabled):active:focus {
  outline: none;
  box-shadow: none;
}
  
